.App-Input {
    border: none;
    display: block;
    font-size: 4rem;
    margin: 0 auto;
    margin-top: 6rem;
    padding: 2rem 2rem;
    width: 600px;
    height: 100px;
}

input::-webkit-input-placeholder {
    font-size: 48px;
}