.App-Input {
    border: none;
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 2rem 2rem;
    height: 100px;
    width: 260px;
    font-size: 24px;
}

input::-webkit-input-placeholder {
    font-size: 20px;
}